// Miscellaneous settings.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Introduction

hotkey-overlay {
    skip-at-startup
    // hide-not-bound
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

spawn-sh-at-startup "fish ~/.config/niri/scripts/polkit.sh"
spawn-at-startup "noctalia-shell"
spawn-sh-at-startup "input-remapper-control --command autoload"
spawn-sh-at-startup "clipse -listen"
spawn-sh-at-startup "systemctl --user import-environment DISPLAY WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XDG_SESSION_TYPE DBUS_SESSION_BUS_ADDRESS XDG_RUNTIME_DIR GTK_IM_MODULE QT_IM_MODULE SDL_IM_MODULE XMODIFIERS GLFW_IM_MODULE NIRI_SOCKET"
spawn-sh-at-startup "dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XDG_SESSION_TYPE DBUS_SESSION_BUS_ADDRESS XDG_RUNTIME_DIR GTK_IM_MODULE QT_IM_MODULE SDL_IM_MODULE XMODIFIERS GLFW_IM_MODULE NIRI_SOCKET"
spawn-sh-at-startup "systemctl --user restart fcitx5-daemon.service"
// spawn-at-startup "waybar"
// spawn-sh-at-startup "systemctl --user restart waybar"

prefer-no-csd

cursor {
    // xcursor-theme "breeze_cursors"
    // xcursor-size 24
    // hide-when-typing
    // hide-after-inactive-ms 1000
}

overview {
    // zoom 0.5
    // backdrop-color "#262626"
    workspace-shadow {
        on
        // softness 40
        // spread 10
        // offset x=0 y=10
        // color "#00000050"
    }
}

xwayland-satellite {
    // off
}

environment {
    EDITOR "nvim"
    TERMINAL "kitty"
    GLFW_IM_MODULE "ibus"
    GTK_IM_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
    QT_QPA_PLATFORMTHEME "qt6ct"
    SDL_IM_MODULE "fcitx"
    XMODIFIERS "@im=fcitx"
    // QT_QPA_PLATFORM "wayland"
    // DISPLAY null
}
